
.main{
    padding-left: 2%;
    padding-right: 2%;
    overflow: scroll;
}

.settings{
    padding-left: 2%;
    padding-right: 3%;
}

text{
    height: 600px;
}

.button {
    background-color: #4CAF50;
}
.button1 {
    background-color: #4CAF50;
}
.button2 {
    background-color: #008CBA;
}
.button3 {
    background-color: #f44336;
}
.button4 {
    background-color: #e7e7e7;
    color: black;
}
.button5 {
    background-color: #555555;
    color: white;
}